<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />

    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-XSS-Protection" content="0" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-1.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

</head>
<body>
    <header>
        <hgroup>
            @*<h1><img src="@Url.Content("~/Content/images/logo_text.png")" alt="Call Center" /></h1>
            <h2>Support</h2>*@
        </hgroup>

        <nav class="navbar">
            <ul class="nav nav-pills">
                <li>
                    <a href="/Home/Index" data-toggle="tab">Dashboard</a>
                    @*@Html.ActionLink("Dashboard", "Index", "Home")*@
                </li>
                <li>
                    <a asp-controller="ServiceTickets" asp-action="Index" data-toggle="tab">Tickets</a>
                </li>
                <li>
                    <a asp-controller="Customers" asp-action="Index" data-toggle="tab">Customers</a>
                </li>
                <li>
                    <a asp-controller="Employees" asp-action="Index" data-toggle="tab">Employees</a>
                </li>
                <li>
                    <a asp-controller="Reports" asp-action="Index" data-toggle="tab">Reports</a>
                </li>

            </ul>
        </nav>
    </header>

    <div id="container">
        <aside id="profile" class="sidebar">
            @if (IsSectionDefined("Left"))
            {
                RenderSection("Left");
            }
            else
            {
                @await Html.PartialAsync("_Profile.cshtml")
            }

            <!-- Left MenuBar -->
            <div class="site-menubar">
                <div class="site-menubar-header">
                    <div class="cover overlay">
                        <img class="cover-image" src="../assets/examples/images/dashboard-header.jpg" alt="...">
                        <div class="overlay-panel vertical-align overlay-background">
                            <div class="vertical-align-middle">
                                <a class="avatar avatar-lg" href="javascript:void(0)">
                                    <img src="../../global/portraits/1.jpg" alt="">
                                </a>
                                <div class="site-menubar-info">
                                    <h5 class="site-menubar-user">Lana</h5>
                                    <p class="site-menubar-email">lan.levinovska@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-menubar-body scrollable scrollable-inverse scrollable-vertical is-enabled" style="position: relative;">
                    <div class="scrollable-container" style="height: 44.3875px; width: 277px;">
                        <div class="scrollable-content" style="width: 260px;">
                            <ul class="site-menu" data-plugin="menu">

                                <li class="site-menu-item">
                                    <a href="../index.html" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                                        <span class="site-menu-title">Dashboard</span>
                                    </a>
                                </li>
                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                        <span class="site-menu-title">Layouts</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item">
                                            <a href="../layouts/menubar-fold.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Menubar Fold</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/menubar-disable-hover.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Menubar Disable Hover</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/menubar-open.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Menubar Open</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/menubar-push.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Menubar Push</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/grids.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Grid Scaffolding</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/layout-grid.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Layout Grid</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/headers.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Different Headers</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/panel-transition.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Panel Transition</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/boxed.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Boxed Layout</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/two-columns.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Two Columns</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/bordered-header.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Bordered Header</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/menubar-flipped.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Menubar Flipped</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../layouts/menubar-native-scrolling.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Menubar Native Scrolling</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Page Aside</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a href="../layouts/aside-left-static.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Left Static</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../layouts/aside-right-static.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Right Static</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../layouts/aside-left-fixed.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Left Fixed</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../layouts/aside-right-fixed.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Right Fixed</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-google-pages" aria-hidden="true"></i>
                                        <span class="site-menu-title">Pages</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Errors</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a href="../pages/error-400.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">400</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/error-403.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">403</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/error-404.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">404</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/error-500.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">500</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/error-503.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">503</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/faq.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">FAQ</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/gallery.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Gallery</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/gallery-grid.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Gallery Grid</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/search-result.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Search Result</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Maps</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a href="../pages/map-google.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Google Maps</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/map-vector.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Vector Maps</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/maintenance.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Maintenance</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/forgot-password.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Forgot Password</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/lockscreen.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Lockscreen</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/login.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Login</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/register.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Register</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/login-v2.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Login V2</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/register-v2.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Register V2</span>
                                                <div class="site-menu-label">
                                                    <span class="badge badge-info badge-round">new</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/login-v3.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Login V3</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/register-v3.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Register V3</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/user.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">User List</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/invoice.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Invoice</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/blank.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Blank Page</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Email</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a href="../pages/email-articles.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Articles</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/email-welcome.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Welcome</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/email-post.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Post</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/email-thumbnail.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Thumbnail</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../pages/email-news.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">News</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/code-editor.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Code Editor</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/profile.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Profile</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/profile-v2.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Profile V2</span>
                                                <div class="site-menu-label">
                                                    <span class="badge badge-info badge-round">new</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/profile-v3.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Profile V3</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/site-map.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Sitemap</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../pages/project.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Project</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-palette" aria-hidden="true"></i>
                                        <span class="site-menu-title">Basic UI</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Panel</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a href="../uikit/panel-structure.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Panel Structure</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../uikit/panel-actions.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Panel Actions</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../uikit/panel-portlets.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Panel Portlets</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/buttons.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Buttons</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/cards.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Cards</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/dropdowns.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Dropdowns</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/icons.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Icons</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/list.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">List</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/tooltip-popover.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Tooltip &amp; Popover</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/modals.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Modals</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/tabs-accordions.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Tabs &amp; Accordions</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/images.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Images</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/badges.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Badges</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/progress-bars.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Progress Bars</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/carousel.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Carousel</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/typography.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Typography</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/colors.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Colors</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../uikit/utilities.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Utilties</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="site-menu-item has-sub active">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-format-color-fill" aria-hidden="true"></i>
                                        <span class="site-menu-title">Advanced UI</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub" style="">
                                        <li class="site-menu-item hidden-sm-down site-tour-trigger">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Tour</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="animation.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Animation</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="highlight.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Highlight</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="lightbox.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Lightbox</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item active">
                                            <a href="scrollable.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Scrollable</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="rating.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Rating</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="context-menu.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Context Menu</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="alertify.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Alertify</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="masonry.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Masonry</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="treeview.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Treeview</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="toastr.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Toastr</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="maps-vector.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Vector Maps</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="maps-google.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Google Maps</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="sortable-nestable.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Sortable &amp; Nestable</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="bootbox-sweetalert.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Bootbox &amp; Sweetalert</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-puzzle-piece" aria-hidden="true"></i>
                                        <span class="site-menu-title">Structure</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub" style="">
                                        <li class="site-menu-item">
                                            <a href="../structure/alerts.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Alerts</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/ribbon.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Ribbon</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/pricing-tables.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Pricing Tables</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/overlay.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Overlay</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/cover.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Cover</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/timeline-simple.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Simple Timeline</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/timeline.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Timeline</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/step.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Step</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/comments.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Comments</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/media.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Media</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/chat.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Chat</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/testimonials.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Testimonials</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/nav.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Nav</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/navbars.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Navbars</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/blockquotes.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Blockquotes</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/pagination.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Pagination</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../structure/breadcrumbs.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Breadcrumbs</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-widgets" aria-hidden="true"></i>
                                        <span class="site-menu-title">Widgets</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item">
                                            <a href="../widgets/statistics.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Statistics Widgets</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../widgets/data.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Data Widgets</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../widgets/blog.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Blog Widgets</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../widgets/chart.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Chart Widgets</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../widgets/social.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Social Widgets</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../widgets/weather.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Weather Widgets</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-comment-alt-text" aria-hidden="true"></i>
                                        <span class="site-menu-title">Forms</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item">
                                            <a href="../forms/general.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">General Elements</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/material.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Material Elements</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/advanced.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Advanced Elements</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/layouts.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Form Layouts</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/wizard.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Form Wizard</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/validation.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Form Validation</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/masks.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Form Masks</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Editors</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a href="../forms/editor-summernote.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Summernote</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../forms/editor-markdown.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Markdown</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../forms/editor-ace.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Ace Editor</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/image-cropping.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Image Cropping</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../forms/file-uploads.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">File Uploads</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-border-all" aria-hidden="true"></i>
                                        <span class="site-menu-title">Tables</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item">
                                            <a href="../tables/basic.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Basic Tables</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/bootstrap.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Bootstrap Tables</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/floatthead.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">floatThead</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/responsive.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Responsive Tables</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/editable.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Editable Tables</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/jsgrid.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">jsGrid</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/footable.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">FooTable</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/datatable.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">DataTables</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/jqtabledit.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Jquery Tabledit</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../tables/table-dragger.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Table Dragger</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-chart" aria-hidden="true"></i>
                                        <span class="site-menu-title">Chart</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item">
                                            <a href="../charts/chartjs.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Chart.js</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/gauges.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Gauges</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/flot.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Flot</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/peity.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Peity</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/sparkline.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Sparkline</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/morris.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Morris</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/chartist.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Chartist.js</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/rickshaw.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Rickshaw</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/pie-progress.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Pie Progress</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../charts/c3.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">C3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="site-menu-item has-sub">
                                    <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                        <i class="site-menu-icon md-apps" aria-hidden="true"></i>
                                        <span class="site-menu-title">Apps</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item">
                                            <a href="../apps/contacts/contacts.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Contacts</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/calendar/calendar.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Calendar</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/notebook/notebook.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Notebook</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/taskboard/taskboard.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Taskboard</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Documents</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a href="../apps/documents/articles.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Articles</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../apps/documents/categories.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Categories</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a href="../apps/documents/article.html" class=" waves-effect waves-classic">
                                                        <span class="site-menu-title">Article</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/forum/forum.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Forum</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/message/message.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Message</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/projects/projects.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Projects</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/mailbox/mailbox.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Mailbox</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/media/overview.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Media</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/work/work.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Work</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/location/location.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Location</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a href="../apps/travel/travel.html" class=" waves-effect waves-classic">
                                                <span class="site-menu-title">Travel</span>
                                            </a>
                                        </li> 
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide" draggable="false"><div class="scrollable-bar-handle" style="height: 30px; transform: translate3d(0px, 205.824px, 0px);"></div></div>
                </div>
            </div>

        </aside>

        <section id="content">
            @RenderBody()
        </section>
    </div>

    <center id="copyright">  2019 Laneta </center>
</body>
</html>
